
<section class="main--container main--container__register lyt--full-width content">
  <header class="main--header main--header__register animatable">
    <div class="logo">
      <h1 class="logo--title visually--hidden">GLAD ARABIA COOKING CHALLANGE 2013</h1>
    </div>
  </header>
  <div class="content--chef animatable content--chef__register"></div>
  <div class="content--container content--container__register">
      <header class="content--header">
        <h2 class="content--title content--title__primary">{{vm.collage.name}}</h2>
      </header>
      <div class="collage">
        <ul class="gallery">
          <li class="gallery--list gallery--list__show" ng-repeat="image in vm.collage.images">
            <img class="thumbnail"src="/images/full_size/{{image.filename}}" alt="" />
          </li>
        </ul>
      </div>
      <nav class="nav nav__profile">
        <ul>
          <li><a ng-href="/#/profile">Profile</a></li>
          <li><a ng-href="/#/logout">Logout</a></li>
          <li><a ng-href="/#/gallery">Gallery</a></li>
          <li><a ng-href="/#/collage">Create Collage</a></li>
        </ul>
      </nav>
  </div>
</section>
